<div>
    <form nz-form #QualificationTypeForm="ngForm">
        <nz-spin [nzSpinning]="isSpinning">

            <!-- TYPE -->
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Type</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Select Type">
                            <nz-select nzAllowClear nzPlaceHolder="Select Type" name="type" [(ngModel)]="data.type"
                                required>
                                <!-- <nz-option nzValue="H" nzLabel="Hospital"></nz-option> -->
                                <nz-option nzValue="L" nzLabel="Lab"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <!-- NAME -->
            <div nz-row>
                <div nz-col nzSpan="24">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Name</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Please Enter Name">
                            <input nz-input name="name" [(ngModel)]="data.name" placeholder="Enter Name" maxlength="128"
                                required autocomplete="off" />
                        </nz-form-control>
                        <span style="color: red; font-size: 10px" *ngIf="data.name">
                            {{ data.name.length }}/128
                        </span>
                    </nz-form-item>
                </div>
            </div>


            <!-- SEQ_NO -->
            <div nz-row>
                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
                        <nz-form-control nzHasFeedback nzErrorTip="Please Enter Valid Sequence Number">
                            <nz-input-number style="width: 100%;" name="seq_no" [(ngModel)]="data.seq_no" [nzMin]="1"
                                [nzStep]="1" required disabled></nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>

                <div nz-col nzSpan="12">
                    <nz-form-item>
                        <nz-form-label nzNoColon>Status</nz-form-label>
                        <nz-form-control>
                            <nz-switch name="is_active" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                                [ngModel]="data.is_active"></nz-switch>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </nz-spin>
    </form>


    <div class="footer">
        <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px;">
            <span>Cancel</span>
        </button>
        <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.id" nz-button nz-dropdown
            [nzDropdownMenu]="menu" [nzLoading]="isSpinning" (click)="save(false,QualificationTypeForm)">
            <span>Save & Close</span>
        </button>
        <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
                <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
                    <a style="color:white" (click)="save(true,QualificationTypeForm)">Save & New</a>
                </li>
            </ul>
        </nz-dropdown-menu>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.id"
            (click)="save(false,QualificationTypeForm)">
            <span>Update & Close</span>
        </button>
    </div>
</div>