<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="7" nzXl="11">
    <div class="formname">
      <b>
        <!-- <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline"
          style="font-weight: bold; cursor: pointer"></span>&nbsp;&nbsp;  -->
        {{ formTitle }}
      </b>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="17" nzXl="13" class="flex-end">
    <form nz-form [nzLayout]="'inline'" class="w-100">
      <!-- <nz-form-item style="width: 47px">
        <button
          nz-button
          nzTooltipTitle="Filter"
          nzTooltipPlacement="top"
          nz-tooltip
          [nzType]="isfilterapply ? 'primary' : 'default'"
          (click)="showMainFilter()"
        >
          <i nz-icon nzType="filter"></i>
        </button>
      </nz-form-item> -->
      <nz-row nzGutter="[8, 8]" class="w-100">
        <nz-col nzXs="5" nzSm="4" nzMd="3" nzLg="3" nzXl="3">
          <nz-form-item style="width: 47px">
            <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
              [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
              <i nz-icon nzType="filter"></i>
            </button>
          </nz-form-item>
        </nz-col>
        <nz-col nzXs="19" nzSm="20" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" name="search" (keyup)="onKeyupS($event)" [(ngModel)]="searchText" nz-input
                placeholder="Min 3 chars required" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" (click)="search(true)" nzSearch>
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </nz-col>
        <nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="9" nzXl="9">
          <nz-form-item class="mr-0 ">
            <button class="w-100" nz-button nzType="primary" (click)="add()" id="search" nzJustify="end">
              <i nz-icon nzType="plus"></i>Add New District
            </button>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </form>
  </div>
</div>
<!-- <br /> -->


<!-- Main Filter -->
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="filter-header">
          <div nz-col [nzSpan]="24">
            <div class="filter-content-container">
              <ng-container *ngIf="isDeleting; else filtersContent">
                <div style="text-align: center">
                  <nz-spin nzSimple></nz-spin>
                </div>
              </ng-container>
              <ng-template #filtersContent>
                <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                  <div class="filter-tags-container">
                    <ng-container *ngFor="let item of savedFilters">
                      <div class="filter-tag" [class.active-filter]="selectedFilter === item.ID">
                        <div class="filter-tag-content">
                          <span class="filter-name">{{
                            item.FILTER_NAME
                            }}</span>
                          <div class="filter-actions">
                            <i nz-icon nzType="search" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Apply Filter'"
                              (click)="applyfilter(item)" class="action-icon apply-icon"></i>
                            <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Delete'"
                              class="action-icon delete-icon" nz-popconfirm
                              nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                              (nzOnConfirm)="deleteItem(item)">
                            </i>
                            <i nz-icon nzType="eye" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Show Query'"
                              (click)="toggleLiveDemo(item)" class="action-icon view-icon"></i>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-template>
              <ng-template #noData>
                <div class="no-filters-message">
                  <i nz-icon nzType="inbox" nzTheme="outline" class="no-data-icon"></i>
                  <span>No Previous Filters Are Found</span>
                </div>
              </ng-template>
            </div>
          </div>
          <div nz-col [nzSpan]="24" class="filter-actions-container">
            <button nz-button nzType="primary" nzSize="small" *ngIf="savedFilters && savedFilters.length > 0"
              (click)="Clearfilter()" class="filter-action-btn clear-btn">
              <i nz-icon nzType="clear" nzTheme="outline"></i>
              Clear Applied Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="filter-action-btn add-btn">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              Add New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Main Filter -->

<!-- Table -->
<div nz-row class="mt-10">
  <div nz-col nzSpan="24">
    <nz-table class="my-table" [nzData]="dataList" #desigTable nzShowSizeChanger ngSkipHydration
      [nzPageSize]="10" [nzShowPagination]="true" [nzFrontPagination]="false" [nzLoading]="loadingRecords"
      [nzTotal]="totalRecords" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzQueryParams)="sort($event)"
      [nzSize]="'middle'" nzShowSizeChanger [nzScroll]="{'x':'800px'}">
      <!--Table heading-->
      <thead nzSingleSort>
        <tr>
          <th nzWidth="80px" style="text-align: center">Action</th>
          <th nzShowSort nzColumnKey="country_name" nzWidth="200px" style="text-align: center" [nzSortFn]="true"
            [nzFilterFn]="true" nzCustomFilter>
            Country
            <nz-filter-trigger [(nzVisible)]="countryVisible" [nzDropdownMenu]="country">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{color: iscoutryfilterApplied ? '#1890ff' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzShowSort nzColumnKey="state_name" nzWidth="200px" style="text-align: center" [nzSortFn]="true"
            [nzFilterFn]="true" nzCustomFilter>
            State
            <nz-filter-trigger [(nzVisible)]="stateVisible" [nzDropdownMenu]="state">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{color: isstatefilterApplied ? '#1890ff' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzShowSort nzColumnKey="name" nzWidth="170px" style="text-align: center" [nzSortFn]="true"
            nzCustomFilter>
            District
            <nz-filter-trigger [(nzVisible)]="visible" [nzDropdownMenu]="District">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{color: isdistrictfilterApplied ? '#1890ff' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzShowSort nzColumnKey="code" nzWidth="130px" style="text-align: center" [nzSortFn]="true"
            nzCustomFilter>
            Short Code
            <nz-filter-trigger [(nzVisible)]="ShortCodevisible" [nzDropdownMenu]="ShortCode">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{color: isshortcodefilterApplied ? '#1890ff' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzShowSort nzColumnKey="seq_no" nzWidth="150px" style="text-align: center" [nzSortFn]="true"
            nzCustomFilter>
            Sequence No.
            <nz-filter-trigger [(nzVisible)]="Seqvisible" [nzDropdownMenu]="Seq">
              <span nz-icon nzType="filter" nzTheme="fill" [ngStyle]="{color: isseqfilterApplied ? '#1890ff' : 'inherit'
                }"></span>
            </nz-filter-trigger>
          </th>
          <th nzShowSort nzColumnKey="is_active" nzWidth="100px" style="text-align: center" [nzSortFn]="true"
            [nzFilters]="listOfFilter" [nzFilterFn]="true" [nzFilterMultiple]="false"
            (nzFilterChange)="onStatusFilterChange($event)">
            Status
          </th>
        </tr>
      </thead>
      <!--Table Body-->
      <tbody>
        <tr *ngFor="let data of desigTable.data">
          <td align="center">
            <a (click)="edit(data)" class="edit-action">
              <span nz-icon nzType="edit" nzTheme="outline" nzTooltipTitle="Edit" nz-tooltip></span>
            </a>
          </td>

          <td align="left">
            <span *ngIf="data['country_name'] != null">
              <span *ngIf="data['country_name'].length > 20" nz-popover [nzPopoverContent]="data['country_name']"
                nzPopoverPlacement="topLeft">
                {{ data["country_name"] | slice : 0 : 20 }}...
              </span>
              <span *ngIf="data['country_name'].length <= 20">
                {{ data["country_name"] }}
              </span>
            </span>
            <span *ngIf="data['country_name'] == null" class="no-data">-</span>
          </td>
          
          <td align="left">
            <span *ngIf="data['state_name'] != null">
              <span *ngIf="data['state_name'].length > 20" nz-popover [nzPopoverContent]="data['state_name']"
                nzPopoverPlacement="topLeft">
                {{ data["state_name"] | slice : 0 : 20 }}...
              </span>
              <span *ngIf="data['state_name'].length <= 20">
                {{ data["state_name"] }}
              </span>
            </span>
            <span *ngIf="data['state_name'] == null" class="no-data">-</span>
          </td>

           <td align="left">
            <span *ngIf="data['name'] != null">
              <span *ngIf="data['name'].length > 15" nz-popover [nzPopoverContent]="data['name']"
                nzPopoverPlacement="topLeft">
                {{ data["name"] | slice : 0 : 15 }}...
              </span>
              <span *ngIf="data['name'].length <= 15">
                {{ data["name"] }}
              </span>
            </span>
            <span *ngIf="data['name'] == null" class="no-data">-</span>
          </td>

    
          <td align="center">
            <span>{{ data.code ?? "-" }}</span>
          </td>
          <td align="center">
            <span>{{ data.seq_no ?? "-" }}</span>
          </td>
          <td align="center">
            <span class="status-badge" [class.active]="data['is_active']" [class.inactive]="!data['is_active']">
              <i nz-icon *ngIf="data['is_active']" [nzType]="'check-circle'" nzTheme="outline"></i>
              <i nz-icon *ngIf="!data['is_active']" [nzType]="'close-circle'" nzTheme="outline"></i>
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <!-- Hide show -->
    <nz-dropdown-menu #showcolumn1="nzDropdownMenu">
      <ul nz-menu nzPlacement="bottomRight">
        <li nz-menu-item *ngFor="let column of showcolumn">
          <label nz-checkbox [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)">
            {{ column.label }}
          </label>
        </li>
      </ul>
    </nz-dropdown-menu>

    <!-- District -->
    <nz-dropdown-menu #District="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl">
            <input type="text" nz-input [(ngModel)]="citytext" (keyup)="onKeyup($event)"
              placeholder="Search District Name" />
          </nz-input-group>
          <ng-template #inputClearTpl>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="citytext"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="citytext == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>

    <!-- Country Filter -->
    <nz-dropdown-menu #country="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder="Select Country" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplatecountry" [(ngModel)]="selectedCountries"
            (ngModelChange)="onCountryChange()">
            <nz-option *ngFor="let data of countryData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplatecountry let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>

    <!-- State Filter -->
    <nz-dropdown-menu #state="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select style="width: 100%" nzAllowClear nzPlaceHolder="Select State" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplatestate" [(ngModel)]="selectedStates" (ngModelChange)="onStateChange()">
            <nz-option *ngFor="let data of stateDataNew" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplatestate let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>

<!-- For ShortCode -->
<nz-dropdown-menu #ShortCode="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group [nzSuffix]="inputClearTplSH">
        <input type="text" nz-input [(ngModel)]="Shortcodetext" (onkeypress)="search()" (keyup)="onKeyup($event)"
          placeholder="Search Short Code" />
      </nz-input-group>
      <ng-template #inputClearTplSH>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="Shortcodetext"
          (click)="reset()"></span>
        <span nz-icon nzType="search" nzTheme="outline" *ngIf="Shortcodetext == ''"></span>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>
<!--for sequence number-->
<nz-dropdown-menu #Seq="nzDropdownMenu">
  <div class="ant-table-filter-dropdown">
    <div class="search-box">
      <nz-input-group [nzSuffix]="inputClearTplSeq">
        <input type="text" nz-input [(ngModel)]="Seqtext" (keyup)="onKeyup($event)" placeholder="Search Seq No." />
      </nz-input-group>
      <ng-template #inputClearTplSeq>
        <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="Seqtext"
          (click)="reset()"></span>
        <span nz-icon nzType="search" nzTheme="outline" *ngIf="Seqtext == ''"></span>
      </ng-template>
    </div>
  </div>
</nz-dropdown-menu>

<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="400" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-addDistrict [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData"
        [stateData]="stateData">
      </app-addDistrict>
    </ng-container>
  </nz-drawer>
</div>

<!-- <nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="visiblesave" nzTitle="Generate Query"
  (nzOnCancel)="handleCancelTop()" (nzOnOk)="handleOkTop()" [nzOkText]="'Save'">
  <ng-container *nzModalContent>
    <div nz-row>
      <div nz-col nzSpan="24">
        <nz-form-item style="
            display: inline-block;
            margin-bottom: 5px;
            width: -webkit-fill-available;
            padding: 0px 10px;
          ">
          <nz-form-label nzRequired nzNoColon>Query Name</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Please Enter Query Name ">
            <input nz-input name="Name" [(ngModel)]="QUERY_NAME" placeholder="Enter Query Name" maxlength="256" required
              autocomplete="off" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </ng-container>
</nz-modal> -->

<!-- <nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Query Details'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 style="text-align: center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal> -->





<!-- Main Filter Drawer -->
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerflterClose()" (nzKeyboard)="(true)" [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="[]" [drawerClose]="closefilterCallback" [fields]="filterFields" [TabId]="TabId"
        (filterApplied)="onFilterApplied($event)">
      </app-main-filter>
    </ng-container>
  </nz-drawer>
</div>

<!-- Query Model -->
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Query Details'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 style="text-align: center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>