<div nz-row nzType="flex">
  <div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="7" nzXl="11">
    <div class="formname">
      <b>
        <!-- <span (click)="back()" nz-icon nzType="arrow-left" nzTheme="outline"
          style="font-weight: bold; cursor: pointer"></span>&nbsp;&nbsp; -->
        {{ formTitle }}
      </b>
    </div>
  </div>
  <div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="17" nzXl="13" class="flex-end">
    <form nz-form [nzLayout]="'inline'" class="w-100">
      <nz-row nzGutter="[8, 8]" class="w-100">
        <nz-col nzXs="5" nzSm="4" nzMd="3" nzLg="3" nzXl="3">
          <nz-form-item style="width: 47px">
            <button nz-button nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip
              [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()">
              <i nz-icon nzType="filter"></i>
            </button>
          </nz-form-item>
        </nz-col>
        <nz-col nzXs="19" nzSm="20" nzMd="12" nzLg="12" nzXl="12">
          <nz-form-item>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
              <input type="text" name="search" (keyup)="keyup()" (keydown.enter)="preventDefault($event)"
                [(ngModel)]="searchText" nz-input placeholder="Min 3 chars required" />
            </nz-input-group>
            <ng-template #suffixIconButton>
              <button nz-button nzType="primary" (click)="search(true)" nzSearch>
                <i nz-icon nzType="search"></i>
              </button>
            </ng-template>
          </nz-form-item>
        </nz-col>
        <nz-col nzXs="24" nzSm="24" nzMd="9" nzLg="9" nzXl="9">
          <nz-form-item class="mr-0 ">
            <button class="w-100" nz-button nzType="primary" (click)="add()" id="search" nzJustify="end">
              <i nz-icon nzType="plus"></i>Add New Holiday
            </button>
          </nz-form-item>
        </nz-col>
      </nz-row>
    </form>
  </div>
</div>
<!-- <br /> -->

<!-- Main Filter -->
<div nz-row>
  <div nz-col nzSpan="24">
    <div class="filter {{ filterClass }}">
      <div class="filter-box">
        <div nz-row class="filter-header">
          <div nz-col [nzSpan]="24">
            <div class="filter-content-container">
              <ng-container *ngIf="isDeleting; else filtersContent">
                <div style="text-align: center">
                  <nz-spin nzSimple></nz-spin>
                </div>
              </ng-container>
              <ng-template #filtersContent>
                <ng-container *ngIf="savedFilters && savedFilters.length > 0; else noData">
                  <div class="filter-tags-container">
                    <ng-container *ngFor="let item of savedFilters">
                      <div class="filter-tag" [class.active-filter]="selectedFilter === item.ID">
                        <div class="filter-tag-content">
                          <span class="filter-name">{{
                            item.FILTER_NAME
                            }}</span>
                          <div class="filter-actions">
                            <i nz-icon nzType="search" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Apply Filter'"
                              (click)="applyfilter(item)" class="action-icon apply-icon"></i>
                            <i nz-icon nzType="delete" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Delete'"
                              class="action-icon delete-icon" nz-popconfirm
                              nzPopconfirmTitle="Are you sure to delete this record?" nzPopconfirmPlacement="top"
                              (nzOnConfirm)="deleteItem(item)">
                            </i>
                            <i nz-icon nzType="eye" nzTheme="outline" nz-tooltip [nzTooltipTitle]="'Show Query'"
                              (click)="toggleLiveDemo(item)" class="action-icon view-icon"></i>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
              </ng-template>
              <ng-template #noData>
                <div class="no-filters-message">
                  <i nz-icon nzType="inbox" nzTheme="outline" class="no-data-icon"></i>
                  <span>No Previous Filters Are Found</span>
                </div>
              </ng-template>
            </div>
          </div>
          <div nz-col [nzSpan]="24" class="filter-actions-container">
            <button nz-button nzType="primary" nzSize="small" *ngIf="savedFilters && savedFilters.length > 0"
              (click)="Clearfilter()" class="filter-action-btn clear-btn">
              <i nz-icon nzType="clear" nzTheme="outline"></i>
              Clear Applied Filter
            </button>
            <button nz-button nzType="primary" nzSize="small" (click)="openfilter()" class="filter-action-btn add-btn">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
              Add New Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Main Filter -->

<!-- Table -->
<div nz-row class="mt-10">
  <div nz-col nzSpan="24">
    <nz-table class="my-table" #desigTable nzShowSizeChanger [nzFrontPagination]="false" [nzData]="dataList"
      [nzLoading]="loadingRecords" [nzSize]="'small'" [nzScroll]="{'x':'800px'}" [nzTotal]="totalRecords"
      [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()"
      (nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)">
      <thead>
        <tr>
          <th nzWidth="20px" style="font-weight: bold; text-align: center">
            Action
            <!-- <nz-filter-trigger [(nzVisible)]="showcloumnVisible" [nzDropdownMenu]="showcolumn1">
                <span nz-icon nzType="down" nzTheme="outline"></span>
              </nz-filter-trigger> -->
          </th>

          <!-- Hospital -->
          <!-- <th *ngIf="decreptedroleId == 1  || decreptedroleId == 2" nzWidth="17px"
            style="font-weight: bold; text-align: center" nzColumnKey="HOSPITAL_NAME" [nzSortFn]="true"
            [nzFilterFn]="true" nzCustomFilter>
            Hospital
            <nz-filter-trigger [(nzVisible)]="countryVisible" [nzDropdownMenu]="hospital">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th> -->

          <!-- Lab -->
          <th nzWidth="35px" *ngIf="decreptedroleId == 1  || decreptedroleId == 3"
            style="font-weight: bold; text-align: center" nzColumnKey="lab_name" [nzSortFn]="true" [nzFilterFn]="true"
            nzCustomFilter>
            Lab
            <nz-filter-trigger [(nzVisible)]="stateVisible" [nzDropdownMenu]="lab">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{color: selectedlabsStatus ? '#1890ff' : 'inherit'}"></span>
            </nz-filter-trigger>
          </th>


          <!-- Technician -->
          <th nzWidth="35px" *ngIf="decreptedroleId == 1  || decreptedroleId == 3"
            style="font-weight: bold; text-align: center" nzColumnKey="technician_name" [nzSortFn]="true"
            [nzFilterFn]="true" nzCustomFilter>
            Technician
            <nz-filter-trigger [(nzVisible)]="techVisible" [nzDropdownMenu]="technician">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{color: selectedTechniciansStatus ? '#1890ff' : 'inherit'}"></span>
            </nz-filter-trigger>
          </th>

          <!-- Holiday -->
          <th nzWidth="30px" style="font-weight: bold; text-align: center" nzColumnKey="{{ 'name' }}" [nzSortFn]="true"
            nzCustomFilter>
            Holiday
            <nz-filter-trigger [(nzVisible)]="visible" [nzDropdownMenu]="Holiday">
              <span nz-icon nzType="filter" nzTheme="fill"
                [ngStyle]="{color: holidaynameStatus ? '#1890ff' : 'inherit'}"></span>
            </nz-filter-trigger>
          </th>

          <!-- <th nzWidth="10px" nzColumnKey="{{ 'DATE' }}" style="text-align: center" [nzSortFn]="true" nzCustomFilter>
            Date

            <nz-filter-trigger [(nzVisible)]="datevisible" [nzDropdownMenu]="dateshow">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>
          </th> -->

          <th nzWidth="35px" nzColumnKey="start_date" style="text-align: center" [nzSortFn]="true" nzCustomFilter>
            Start Date
            <nz-filter-trigger [(nzVisible)]="datevisible" [nzDropdownMenu]="dateshow">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>

            <!-- <nz-dropdown-menu #dateshow="nzDropdownMenu">
              <div style="padding: 8px; width: 280px;">
                <nz-range-picker [(ngModel)]="selectedDateRange" [nzFormat]="'dd/MMM/yyyy'"
                  (ngModelChange)="onDateFilterChange()" style="width: 100%; margin-bottom: 8px;">
                </nz-range-picker>
                <div class="d-flex justify-content-end">
                  <button nz-button nzSize="small" class="me-2" (click)="resetDateFilter()">Reset</button>
                  <button nz-button nzType="primary" nzSize="small" (click)="applyDateFilter()">Apply</button>
                </div>
              </div>
            </nz-dropdown-menu> -->
            <nz-dropdown-menu #dateshow="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <nz-range-picker [(ngModel)]="selectedJobCreatedDate" name="StartDatey6" style="width: 100%"
                    [nzFormat]="commonFunction.dateFormatMMM" (ngModelChange)="onDateRangeChange()">
                  </nz-range-picker>
                </div>
              </div>
            </nz-dropdown-menu>
          </th>


          <th nzWidth="35px" nzColumnKey="end_date" style="text-align: center" [nzSortFn]="true" nzCustomFilter>
            End Date
            <nz-filter-trigger [(nzVisible)]="enddatevisible" [nzDropdownMenu]="enddateshow">
              <span nz-icon nzType="filter" nzTheme="fill"></span>
            </nz-filter-trigger>

            <!-- <nz-dropdown-menu #enddateshow="nzDropdownMenu">
              <div style="padding: 8px; width: 280px;">
                <nz-range-picker [(ngModel)]="selectedDateRange" [nzFormat]="'dd/MMM/yyyy'"
                  (ngModelChange)="onDateFilterChange()" style="width: 100%; margin-bottom: 8px;">
                </nz-range-picker>
                <div class="d-flex justify-content-end">
                  <button nz-button nzSize="small" class="me-2" (click)="resetDateFilter()">Reset</button>
                  <button nz-button nzType="primary" nzSize="small" (click)="applyDateFilter()">Apply</button>
                </div>
              </div>
            </nz-dropdown-menu> -->



            <nz-dropdown-menu #enddateshow="nzDropdownMenu">
              <div class="ant-table-filter-dropdown">
                <div class="search-box">
                  <nz-range-picker [(ngModel)]="selectedJobCreatedDate1" name="StartDate" style="width: 100%"
                    [nzFormat]="commonFunction.dateFormatMMM" (ngModelChange)="onDateRangeChange()">
                  </nz-range-picker>
                </div>
              </div>
            </nz-dropdown-menu>



          </th>



          <!-- Status -->
          <th nzWidth="25px" style="font-weight: bold; text-align: center" nzColumnKey="is_active" [nzSortFn]="true"
            [nzFilters]="listOfFilter" [nzFilterFn]="true" [nzFilterMultiple]="false"
            (nzFilterChange)="onStatusFilterChange($event)">
            Status
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of desigTable.data" style="text-align: center">
          <td>
            <a (click)="edit(data)" class="edit-action"><span nz-icon nzType="edit" nzTheme="twotone"
                style="font-size: 15px" nzTooltipTitle="Edit" nz-tooltip></span></a>
          </td>
          <!-- <td *ngIf="decreptedroleId == 1  || decreptedroleId == 2" style="white-space: pre-line;text-align: left;">
            <span *ngIf="data['HOSPITAL_NAME'] != null">
              <span *ngIf="data['HOSPITAL_NAME'].length >= 75" nz-popover [nzPopoverContent]="data['HOSPITAL_NAME']"
                nzPopoverPlacement="topLeft">
                {{
                data["HOSPITAL_NAME"] == null
                ? "-"
                : (data["HOSPITAL_NAME"] | slice : 0 : 75)
                }}{{ data["HOSPITAL_NAME"].length > 75 ? "..." : "" }}
              </span>
              <span *ngIf="data['HOSPITAL_NAME'].length < 75">
                {{
                data["HOSPITAL_NAME"] == null
                ? "-"
                : (data["HOSPITAL_NAME"] | slice : 0 : 75)
                }}
                {{ data["HOSPITAL_NAME"].length > 75 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['HOSPITAL_NAME'] == null">-</span>
          </td> -->
          <td style="white-space: pre-line;text-align: left;">
            <span *ngIf="data['lab_name'] != null">
              <span *ngIf="data['lab_name'].length >= 15" nz-popover [nzPopoverContent]="data['lab_name']"
                nzPopoverPlacement="topLeft">
                {{
                data["lab_name"] == null
                ? "-"
                : (data["lab_name"] | slice : 0 : 15)
                }}{{ data["lab_name"].length > 15 ? "..." : "" }}
              </span>
              <span *ngIf="data['lab_name'].length < 15">
                {{
                data["lab_name"] == null
                ? "-"
                : (data["lab_name"] | slice : 0 : 15)
                }}
                {{ data["lab_name"].length > 15 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['lab_name'] == null">-</span>
          </td>


          <td *ngIf="decreptedroleId == 1  || decreptedroleId == 3" style="white-space: pre-line;text-align: left;">
            <span *ngIf="data['technician_name'] != null">
              <span *ngIf="data['technician_name'].length >= 15" nz-popover [nzPopoverContent]="data['technician_name']"
                nzPopoverPlacement="topLeft">
                {{
                data["technician_name"] == null
                ? "-"
                : (data["technician_name"] | slice : 0 : 15)
                }}{{ data["technician_name"].length > 15 ? "..." : "" }}
              </span>
              <span *ngIf="data['technician_name'].length < 15">
                {{
                data["technician_name"] == null
                ? "-"
                : (data["technician_name"] | slice : 0 : 15)
                }}
                {{ data["technician_name"].length > 15 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['technician_name'] == null">-</span>
          </td>


          <td style="white-space: pre-line;text-align: left;">
            <span *ngIf="data['name'] != null">
              <span *ngIf="data['name'].length >= 10" nz-popover [nzPopoverContent]="data['name']"
                nzPopoverPlacement="topLeft">
                {{ data["name"] == null ? "-" : (data["name"] | slice : 0 : 10)
                }}{{ data["name"].length > 10 ? "..." : "" }}
              </span>
              <span *ngIf="data['name'].length < 10">
                {{
                data["name"] == null ? "-" : (data["name"] | slice : 0 : 10)
                }}
                {{ data["name"].length > 10 ? "..." : "" }}
              </span>
            </span>
            <span *ngIf="data['name'] == null">-</span>
          </td>
          <!-- <td style="white-space: pre-line">{{ data["DATE"] | date:'dd/MMM/yy'}}</td> -->
          <td style="white-space: pre-line">{{ data["start_date"] | date:'dd/MMM/yy' }}</td>
          <td style="white-space: pre-line">{{ data["end_date"] | date:'dd/MMM/yy' }}</td>


          <!-- <td>
            <i nz-icon *ngIf="data['is_active']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#52c41a'"></i>
            <i nz-icon *ngIf="!data['is_active']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
              [nzTwotoneColor]="'#f50'"></i>
          </td> -->
          <td align="center">
            <span class="status-badge" [class.active]="data['is_active']" [class.inactive]="!data['is_active']">
              <i nz-icon *ngIf="data['is_active']" [nzType]="'check-circle'" nzTheme="outline"></i>
              <i nz-icon *ngIf="!data['is_active']" [nzType]="'close-circle'" nzTheme="outline"></i>
              <!-- {{ data['is_active'] ? 'Active' : 'Inactive' }} -->
            </span>
          </td>
        </tr>
      </tbody>
    </nz-table>

    <!-- Hide show -->
    <nz-dropdown-menu #showcolumn1="nzDropdownMenu">
      <ul nz-menu nzPlacement="bottomRight">
        <li nz-menu-item *ngFor="let column of showcolumn">
          <label nz-checkbox [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)">
            {{ column.label }}
          </label>
        </li>
      </ul>
    </nz-dropdown-menu>

    <!-- Holiday -->
    <nz-dropdown-menu #Holiday="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-input-group [nzSuffix]="inputClearTpl1">
            <input type="text" nz-input [(ngModel)]="holidayname" (ngModelChange)="citykeyup()"
              placeholder="Search Holiday Name" />
          </nz-input-group>
          <ng-template #inputClearTpl1>
            <span nz-icon class="ant-input-clear-icon" nzTheme="fill" nzType="close-circle" *ngIf="holidayname"
              (click)="reset()"></span>
            <span nz-icon nzType="search" nzTheme="outline" *ngIf="holidayname == ''"></span>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>

    <!-- Holiday -->
    <!-- <nz-dropdown-menu #dateshow="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="search-box">
          <nz-date-picker [(ngModel)]="datefilter" name="Date" nzFormat="dd/MMM/yyyy" style="width: 100%" required
            (ngModelChange)="datechange($event)" placeholder="Select Holiday Date"></nz-date-picker>
        </div>
      </div>
    </nz-dropdown-menu> -->

    <!-- Hospital Filter -->
    <nz-dropdown-menu #hospital="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select style="width: 100%" nzShowSearch nzAllowClear nzPlaceHolder="Select Hospital" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate1" [(ngModel)]="selectedhospitals" (ngModelChange)="OnHospitalChange()">
            <nz-option *ngFor="let data of hospitalData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate1 let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>


    <!-- Date  -->



    <!-- Lab Filter -->
    <nz-dropdown-menu #lab="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select style="width: 100%" nzAllowClear nzPlaceHolder="Select Lab" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate2" [(ngModel)]="selectedlabs" (ngModelChange)="OnLabChange()">
            <nz-option *ngFor="let data of labData1" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate2 let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>


    <!-- technician  -->
    <nz-dropdown-menu #technician="nzDropdownMenu">
      <div class="ant-table-filter-dropdown">
        <div class="select">
          <nz-select style="width: 100%" nzAllowClear nzPlaceHolder="Select Technician" nzMode="multiple"
            [nzCustomTemplate]="multipleTemplate2" [(ngModel)]="selectedTechnicians" (ngModelChange)="OnLabChange()">
            <nz-option *ngFor="let data of technicianData" [nzValue]="data.ID" [nzLabel]="data.NAME"></nz-option>
          </nz-select>
          <ng-template #multipleTemplate2 let-selected>
            <div class="ant-select-selection-item-content">
              <span nz-icon [nzType]="selected.nzValue"></span>
              {{ selected.nzLabel }}
            </div>
          </ng-template>
        </div>
      </div>
    </nz-dropdown-menu>
  </div>
</div>

<div *ngIf="drawerVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="450" [nzVisible]="drawerVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="(true)">
    <ng-container *nzDrawerContent>
      <app-add-holiday-master [drawerClose]="closeCallback" [drawerVisible]="drawerVisible" [data]="drawerData">
      </app-add-holiday-master>
    </ng-container>
  </nz-drawer>
</div>

<!-- Main Filter Drawer -->
<div *ngIf="drawerFilterVisible">
  <nz-drawer [nzBodyStyle]="{
      height: 'calc(100% - 55px)',
      overflow: 'auto',
      'padding-bottom': '53px'
    }" [nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="'70%'" [nzVisible]="drawerFilterVisible"
    [nzTitle]="drawerTitle" (nzOnClose)="drawerflterClose()" (nzKeyboard)="(true)" [nzPlacement]="'right'">
    <ng-container *nzDrawerContent>
      <app-main-filter [filterGroups]="[]" [drawerClose]="closefilterCallback" [fields]="filterFields" [TabId]="TabId"
        (filterApplied)="onFilterApplied($event)">
      </app-main-filter>
    </ng-container>
  </nz-drawer>
</div>

<!-- Query Model -->
<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Query Details'" [nzFooter]="null"
  (nzOnCancel)="handleCancel()"><ng-container *nzModalContent>
    <h6 style="text-align: center">{{ selectedQuery }}</h6>
  </ng-container>
</nz-modal>