<div nz-row nzType="flex">
	<div nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="7" nzXl="11">
		<div class="formname">
			<b>{{formTitle}}</b>
		</div>
	</div>
	<div nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="17" nzXl="13" style="display: flex;justify-content: flex-end">
		<form nz-form [nzLayout]="'inline'" class="w-100">
			<nz-row nzGutter="[8, 8]" class="w-100">
				<nz-col nzXs="4" nzSm="3" nzMd="3" nzLg="3" nzXl="3">
					<nz-form-item style="width: 47px">
						<button [nzType]="isfilterapply ? 'primary' : 'default'" (click)="showMainFilter()" nz-button
							nzTooltipTitle="Filter" nzTooltipPlacement="top" nz-tooltip>
							<i nz-icon nzType="filter"></i>
						</button>
					</nz-form-item>
				</nz-col>


				<nz-col nzXs="20" nzSm="21" nzMd="11" nzLg="11" nzXl="11">
					<nz-form-item>
						<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
							<input type="text" name="search" (keyup)="keyup()" [(ngModel)]="searchText" nz-input
								placeholder="Search..." />
						</nz-input-group>
						<ng-template #suffixIconButton>
							<button nz-button nzType="primary" (click)="search(true)" nzSearch>
								<i nz-icon nzType="search"></i>
							</button>
						</ng-template>
					</nz-form-item>
				</nz-col>

				<nz-col nzXs="24" nzSm="24" nzMd="10" nzLg="10" nzXl="10">
					<nz-form-item class="mr-0 ">
						<button class="w-100" nz-button nzType="primary" id="search" (click)="add()" nzJustify="end">
							<i nz-icon nzType="plus"></i>Add New Procedure
						</button>
					</nz-form-item>
				</nz-col>
			</nz-row>
		</form>
	</div>
</div>
<!-- Main Filter -->
<div nz-row>
	<div nz-col nzSpan="24">
		<div class="filter {{ filterClass }}">
			<div class="filter-box">
				<form nz-form>
					<div *ngFor="let filter of filterBox; let i = index">
						<div [nzGutter]="24" [ngClass]="{ 'margin-row': i !== 0 }" nz-row>
							<div [nzSpan]="9" nz-col></div>
							<div [nzSpan]="6" nz-col>
								<nz-select *ngIf="i != 0" [(ngModel)]="filterBox[i]['CONDITION']" name="filterbox-{{i}}"
									nzPlaceHolder="Select Operator">
									<nz-option *ngFor="let operator of operators" [nzValue]="operator"
										[nzLabel]="operator"></nz-option>
								</nz-select>
							</div>
							<div [nzSpan]="9" nz-col></div>
						</div>

						<fieldset
							style="border: 1px dashed black; border-radius: 5px; width: 100%; padding: 5px 5px 5px;">
							<legend class="ml-5" style="margin-bottom: 5px;">
								<b style="color: #1890ff;
                  font-weight: 500;
                  font-size: 14px;">
									Condition {{ i + 1 }}
									<i *ngIf="filterBox.length > 1" (click)="removeCondition(i)" nz-tooltip
										nzTooltipTitle="Remove Condition" class="icon-size-4"
										style="color: red; cursor: pointer;" nz-icon nzType="delete"></i>
								</b>
							</legend>
							<!-- <div style="border: 1px dashed black; border-radius: 5px; padding: 10px;"> -->
							<!-- <nz-card style="border: 1px dashed black; border-radius: 5px; padding: 0px;">
                <nz-card-meta [nzTitle]="'Condition ' + (i + 1)">
                  <span *ngIf="filterBox.length > 1">
                    <i nz-icon nzType="delete" nzTheme="fill" (click)="removeCondition(i)"></i>
                  </span>
                </nz-card-meta> -->

							<div *ngFor="let subfilter of filter.FILTER; let j = index" [nzGutter]="24" nz-row
								style="margin-bottom: 5px;">

								<div *ngIf="j != 0" [nzSpan]="3" nz-col>
									<nz-select [(ngModel)]="filterBox[i]['FILTER'][j]['CONDITION']"
										name="selectedOperator{{ i }}{{ j }}" nzPlaceHolder="Operator">
										<nz-option *ngFor="let operator of operators" [nzValue]="operator"
											[nzLabel]="operator"></nz-option>
									</nz-select>
								</div>

								<div *ngIf="j != 0" [nzSpan]="1" nz-col>
									<span style="padding-top: 15px; font-weight: bold;">When</span>
								</div>

								<!-- j!=0 -->
								<div *ngIf="j != 0" [nzSpan]="6" nz-col>
									<nz-select [(ngModel)]="filter.FILTER[j].SELECTION1"
										name="selection1-{{ i }}-{{ j }}" nzPlaceHolder="Select Column">
										<nz-option *ngFor="let column of columns1" [nzValue]="column.value"
											[nzLabel]="column.label">
										</nz-option>
									</nz-select>
								</div>
								<div *ngIf="j != 0" [nzSpan]="3" nz-col>
									<nz-select [(ngModel)]="filter.FILTER[j].SELECTION2" name="selection2-{{i}}-{{j}}"
										nzPlaceHolder="Comparison">
										<nz-option *ngFor="let option of getComparisonOptions(subfilter.SELECTION1)"
											[nzValue]="option" [nzLabel]="option"></nz-option>
									</nz-select>
								</div>
								<div *ngIf="j != 0" [nzSpan]="8" nz-col>

									<nz-select *ngIf="filter.FILTER[j].SELECTION1 === 'IS_ACTIVE'"
										[(ngModel)]="filter.FILTER[j].SELECTION3"
										name="selection3-dropdown-{{ i }}-{{ j }}" nzPlaceHolder="Select Active Status">
										<nz-option *ngFor="let status of listOfFilter" [nzValue]="status.value"
											[nzLabel]="status.text">
										</nz-option>
									</nz-select>

									<input *ngIf="filter.FILTER[j].SELECTION1 === 'NAME'"
										[(ngModel)]="filter.FILTER[j].SELECTION3" nz-input
										name="selection3-{{ i }}-{{ j }}" type="text" placeholder="Enter Name" required
										minlength="3" maxlength="32">

									<input *ngIf="filter.FILTER[j].SELECTION1 === 'SEQ_NO'"
										[(ngModel)]="filter.FILTER[j].SELECTION3" nz-input
										name="selection3-{{ i }}-{{ j }}" type="number"
										placeholder="Enter Sequence Number" required min="1">

									<nz-select *ngIf="filter.FILTER[j].SELECTION1 === 'TYPE'"
										[(ngModel)]="filter.FILTER[j].SELECTION3"
										name="selection3-dropdown-type-{{ i }}-{{ j }}" nzPlaceHolder="Select Type">
										<nz-option *ngFor="let type of listOfFilter2" [nzValue]="type.value"
											[nzLabel]="type.text">
										</nz-option>
									</nz-select>

									<input *ngIf="filter.FILTER[j].SELECTION1 === ''"
										[(ngModel)]="filter.FILTER[j].SELECTION3" nz-input
										name="selection3-{{ i }}-{{ j }}" type="text" placeholder="Enter Value" required
										minlength="3" maxlength="32">

								</div>
								<div *ngIf="j != 0" [nzSpan]="3" nz-col>
									<button *ngIf="filterBox[i]['FILTER'].length - 1 == j"
										(click)="insertSubCondition(i, j)" style="margin-right: 10px"
										nzTooltipTitle="Insert Sub-Condition" nzTooltipPlacement="top" nz-tooltip
										nz-button nzType="primary">
										<span nz-icon nzType="plus-circle" nzTheme="outline"></span>
									</button>
									<button (click)="applyFilter(i, j)" nzTooltipTitle="Filter" nzTooltipPlacement="top"
										nz-tooltip style="margin-right: 10px" nz-button nzType="primary">
										<span nz-icon nzType="filter"></span>
									</button>
									<button *ngIf="filterBox[i]['FILTER'].length > 1" (click)="removeSubCondition(i, j)"
										nzTooltipTitle="Remove Condition" nzTooltipPlacement="top" nz-tooltip nz-button
										nzType="primary" nzDanger>
										<span nz-icon nzType="delete"></span>
									</button>
								</div>
								<!-- j!=0 -->

								<!-- j==0 -->
								<div *ngIf="j == 0" [nzSpan]="8" nz-col>
									<nz-select [(ngModel)]="filter.FILTER[j].SELECTION1"
										name="selection1-{{ i }}-{{ j }}" nzPlaceHolder="Select Column">
										<nz-option *ngFor="let column of columns1" [nzValue]="column.value"
											[nzLabel]="column.label">
										</nz-option>
									</nz-select>
								</div>
								<div *ngIf="j == 0" [nzSpan]="4" nz-col>
									<nz-select [(ngModel)]="filter.FILTER[j].SELECTION2" name="selection2-{{i}}-{{j}}"
										nzPlaceHolder="Comparison">
										<nz-option *ngFor="let option of getComparisonOptions(subfilter.SELECTION1)"
											[nzValue]="option" [nzLabel]="option"></nz-option>
									</nz-select>
								</div>
								<div *ngIf="j == 0" [nzSpan]="9" nz-col>
									<nz-select *ngIf="filter.FILTER[j].SELECTION1 === 'IS_ACTIVE'"
										[(ngModel)]="filter.FILTER[j].SELECTION3"
										name="selection3-dropdown-{{ i }}-{{ j }}" nzPlaceHolder="Select Active Status">
										<nz-option *ngFor="let status of listOfFilter" [nzValue]="status.value"
											[nzLabel]="status.text">
										</nz-option>
									</nz-select>

									<input *ngIf="filter.FILTER[j].SELECTION1 === 'NAME'"
										[(ngModel)]="filter.FILTER[j].SELECTION3" nz-input
										name="selection3-{{ i }}-{{ j }}" type="text" placeholder="Enter Name" required
										minlength="3" maxlength="32">

									<input *ngIf="filter.FILTER[j].SELECTION1 === 'SEQ_NO'"
										[(ngModel)]="filter.FILTER[j].SELECTION3" nz-input
										name="selection3-{{ i }}-{{ j }}" type="number"
										placeholder="Enter Sequence Number" required min="1">

									<nz-select *ngIf="filter.FILTER[j].SELECTION1 === 'TYPE'"
										[(ngModel)]="filter.FILTER[j].SELECTION3"
										name="selection3-dropdown-type-{{ i }}-{{ j }}" nzPlaceHolder="Select Type">
										<nz-option *ngFor="let type of listOfFilter2" [nzValue]="type.value"
											[nzLabel]="type.text">
										</nz-option>
									</nz-select>
									<input *ngIf="filter.FILTER[j].SELECTION1 === ''"
										[(ngModel)]="filter.FILTER[j].SELECTION3" nz-input name="selection3-{{i}}-{{j}}"
										type="text" placeholder="Enter Value" required minlength="3" maxlength="32">
								</div>
								<div *ngIf="j == 0" [nzSpan]="3" nz-col>
									<button *ngIf="filterBox[i]['FILTER'].length - 1 == j"
										(click)="insertSubCondition(i, j)" nzTooltipTitle="Insert Sub-Condition"
										nzTooltipPlacement="top" nz-tooltip style="margin-right: 10px" nz-button
										nzType="primary">
										<span nz-icon nzType="plus-circle" nzTheme="outline"></span>
									</button>
									<button (click)="applyFilter(i, j)" nzTooltipTitle="Filter" nzTooltipPlacement="top"
										nz-tooltip style="margin-right: 10px" nz-button nzType="primary">
										<span nz-icon nzType="filter"></span>
									</button>
									<button *ngIf="filterBox[i]['FILTER'].length > 1" (click)="removeSubCondition(i, j)"
										nzTooltipTitle="Remove Condition" nzTooltipPlacement="top" nz-tooltip nz-button
										nzType="primary" nzDanger>
										<span nz-icon nzType="delete"></span>
									</button>
								</div>
								<!-- j==0 -->

							</div>

							<div *ngIf="filter.FILTER.length > 2" style="color: red; font-size: 11px;">
								*If you use mixed comparers, then AND operator will have 1st preference.
							</div>
						</fieldset>
						<!-- </div> -->
						<!-- </nz-card> -->
					</div>

					<div [nzGutter]="24" nz-row style="padding-top: 10px;">
						<div [nzSpan]="4" nz-col></div>
						<div [nzSpan]="20" nz-col style="display: flex; justify-content: flex-end;">
							<button (click)="generateQuery()" nz-button nzType="primary" style="margin-right: 10px;">
								Insert New Condition
							</button>
							<button (click)="saveQuery()" nz-button nzType="primary" style="margin-right: 10px;">
								Save
							</button>
							<button (click)="createFilterQuery()" nz-button nzType="primary"
								style="margin-right: 10px;">
								Apply Filter
							</button>
							<button (click)="resetValues()" nz-button nzType="default">
								Reset
							</button>
						</div>
					</div>

					<div nz-row style="padding-top: 10px;">
						<div [nzSpan]="24" nz-col>
							<div style="border: 1px dashed black; border-radius: 5px; padding: 10px;">
								<ng-container *ngIf="INSERT_NAMES && INSERT_NAMES.length > 0; else noData">
									<ng-container *ngFor="let item of INSERT_NAMES">
										<nz-tag [nzColor]="'default'"
											style="margin: 5px; display: inline-flex; align-items: center;">
											<span style="color: black; margin-right: 10px;">{{ item.name }}</span>
											<span>
												<i [nzTooltipTitle]="'Apply Filter'" (click)="createFilterQuery()"
													nz-icon nzType="search" nzTheme="outline" nz-tooltip
													style="color: #01ac5c; margin-right: 8px;"></i>
												<i [nzTooltipTitle]="'Delete'" (click)="deleteItem(item)" nz-icon
													nzType="delete" nzTheme="outline" nz-tooltip
													style="color: red; margin-right: 8px;"></i>
												<i [nzTooltipTitle]="'Show Query'"
													(click)="toggleLiveDemo(item.query, item.name)" nz-icon nzType="eye"
													nzTheme="outline" nz-tooltip style="color: blue;"></i>
											</span>
										</nz-tag>
									</ng-container>
								</ng-container>
								<ng-template #noData>
									<div style="text-align: center; color: red; font-weight: bold;">
										No Previous Filters Are Found
									</div>
								</ng-template>

							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!-- End Main Filter -->

<!-- Table -->
<div nz-row class="mt-10">
	<div nz-col nzSpan="24">
		<nz-table #desigTable [nzFrontPagination]="false" [nzData]="dataList" [nzLoading]="loadingRecords"
			[nzSize]="'small'" [nzScroll]="{ x: '600px', y: '55vh' }" [nzTotal]="totalRecords"
			[(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize" (nzPageIndexChange)="search()"
			(nzPageSizeChange)="search(true)" (nzQueryParams)="sort($event)" class="my-table" nzBordered
			nzShowSizeChanger>
			<thead>
				<tr>
					<th nzWidth="50px" style="font-weight: bold; text-align: center;">
						Action

						<nz-filter-trigger [(nzVisible)]="showcloumnVisible" [nzDropdownMenu]="showcolumn1">
							<span nz-icon nzType="down" nzTheme="outline"></span>
						</nz-filter-trigger>

					</th>



					<th *ngIf="isColumnVisible('type')" nzWidth="80px" style="font-weight: bold; text-align: center;"
						nzColumnKey="type" [nzSortFn]="true" [nzFilterFn]="true" nzCustomFilter>
						Type
						<nz-filter-trigger [(nzVisible)]="countryVisible" [nzDropdownMenu]="country">
							<span nz-icon nzType="filter" nzTheme="fill"></span>
						</nz-filter-trigger>
					</th>



					<!-- Name -->
					<th *ngIf="isColumnVisible('name')" [nzSortFn]="true" nzWidth="100px"
						style="font-weight: bold; text-align: center;" nzColumnKey="name" nzCustomFilter>
						Name
						<nz-filter-trigger [(nzVisible)]="nameVisible" [nzDropdownMenu]="nameFilterMenu">
							<span nz-icon nzType="filter" nzTheme="fill"></span>
						</nz-filter-trigger>
					</th>



					<!-- Is Active -->
					<th *ngIf="isColumnVisible('is_active')" [nzSortFn]="true" [nzFilters]="listOfFilter"
						[nzFilterFn]="true" [nzFilterMultiple]="false" (nzFilterChange)="onStatusFilterChange($event)"
						nzWidth="70px" style="font-weight: bold; text-align: center;" nzColumnKey="is_active">
						Is Active
					</th>

					<!-- Sequence Number -->

				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let data of desigTable.data" style="text-align: center;">
					<td>
						<a (click)="edit(data)">
							<span nz-icon nzType="edit" nzTheme="twotone" style="font-size: 15px" nzTooltipTitle="Edit"
								nz-tooltip></span>
						</a>
					</td>



					<!-- Type -->
					<td *ngIf="isColumnVisible('type')" align="left">
						<span *ngIf="data['type']=='L'">Lab</span>
						<span *ngIf="data['type']=='H'">Hospital</span>
						<span *ngIf="data['type']==''">-</span>
					</td>

					<!-- Name -->
					<td *ngIf="isColumnVisible('name')" align="left">
						<span *ngIf="data['name'] != null">
							<span *ngIf="data['name'].length >= 25" [nzPopoverContent]="data['name']" nz-popover
								nzPopoverPlacement="topLeft">
								{{ data["name"] | slice: 0:25 }}{{ data["name"].length > 25 ? "..." : "" }}
							</span>
							<span *ngIf="data['name'].length < 25">{{ data["name"] }}</span>
						</span>
						<span *ngIf="data['name'] == null">-</span>
					</td>



					<!-- Is Active -->
					<!-- <td *ngIf="isColumnVisible('is_active')">
						<i *ngIf="data['is_active']" [nzType]="'check-circle'" [nzTheme]="'twotone'"
							[nzTwotoneColor]="'#52c41a'" nz-icon></i>
						<i *ngIf="!data['is_active']" [nzType]="'close-circle'" [nzTheme]="'twotone'"
							[nzTwotoneColor]="'#f50'" nz-icon></i>
					</td> -->

					<td align="center">
						<span class="status-badge" [class.active]="data['is_active']"
							[class.inactive]="!data['is_active']">
							<i nz-icon *ngIf="data['is_active']" [nzType]="'check-circle'" nzTheme="outline"></i>
							<i nz-icon *ngIf="!data['is_active']" [nzType]="'close-circle'" nzTheme="outline"></i>
							<!-- {{ data['is_active'] ? 'Active' : 'Inactive' }} -->
						</span>
					</td>

				</tr>
			</tbody>
		</nz-table>

		<!-- Hide show -->
		<nz-dropdown-menu #showcolumn1="nzDropdownMenu">
			<ul nz-menu nzPlacement="bottomRight">
				<li *ngFor="let column of showcolumn" nz-menu-item>
					<label [(ngModel)]="column.visible" (ngModelChange)="isColumnVisible(column)" nz-checkbox>
						{{ column.label }}
					</label>
				</li>
			</ul>
		</nz-dropdown-menu>

		<!-- City -->
		<nz-dropdown-menu #nameFilterMenu="nzDropdownMenu">
			<div class="ant-table-filter-dropdown">
				<div class="search-box">
					<nz-input-group [nzSuffix]="inputClearTpl">
						<input [(ngModel)]="citytext" (ngModelChange)="search()" type="text" nz-input
							placeholder="Search Name">
					</nz-input-group>
					<ng-template #inputClearTpl>
						<span *ngIf="citytext" (click)="reset()" nz-icon class="ant-input-clear-icon" nzTheme="fill"
							nzType="close-circle"></span>
						<span *ngIf="citytext == ''" nz-icon nzType="search" nzTheme="outline"></span>
					</ng-template>
				</div>
			</div>
		</nz-dropdown-menu>


		<nz-dropdown-menu #country="nzDropdownMenu">
			<div class="ant-table-filter-dropdown">
				<div class="select">
					<nz-select style="width: 100%;" nzShowSearch nzAllowClear nzPlaceHolder="Select Type"
						nzMode="multiple" [nzCustomTemplate]="multipleTemplate" [(ngModel)]="selectedCountries"
						(ngModelChange)="onCountryChange()">
						<nz-option nzValue="H" nzLabel="Hospital"></nz-option>
						<nz-option nzValue="L" nzLabel="Lab"></nz-option>

					</nz-select>
					<ng-template #multipleTemplate let-selected>
						<div class="ant-select-selection-item-content">
							<span nz-icon [nzType]="selected.nzValue"></span>
							{{ selected.nzLabel }}
						</div>
					</ng-template>
				</div>
			</div>
		</nz-dropdown-menu>

		<!-- <nz-dropdown-menu #typeFilterMenu="nzDropdownMenu">
			<div class="ant-table-filter-dropdown">
				<div class="search-box">
					<nz-input-group [nzSuffix]="inputClearTpl">
						<input [(ngModel)]="typetext"
							(ngModelChange)="search()"
							type="text"
							nz-input
							placeholder="Search Name">
					</nz-input-group>
					<ng-template #inputClearTpl>
						<span *ngIf="typetext"
							(click)="reset()"
							nz-icon
							class="ant-input-clear-icon"
							nzTheme="fill"
							nzType="close-circle"></span>
						<span *ngIf="typetext == ''"
							nz-icon
							nzType="search"
							nzTheme="outline"></span>
					</ng-template>
				</div>
			</div>
		</nz-dropdown-menu> -->
		<nz-dropdown-menu #seqNo="nzDropdownMenu">
			<div class="ant-table-filter-dropdown">
				<div class="search-box">
					<nz-input-group [nzSuffix]="inputClearTpl">
						<input [(ngModel)]="sequenceText" (ngModelChange)="search()" type="text" nz-input
							placeholder="Search Sequence no">
					</nz-input-group>
					<ng-template #inputClearTpl>
						<span *ngIf="sequenceText" (click)="reset()" nz-icon class="ant-input-clear-icon" nzTheme="fill"
							nzType="close-circle"></span>
						<span *ngIf="sequenceText == ''" nz-icon nzType="search" nzTheme="outline"></span>
					</ng-template>
				</div>
			</div>
		</nz-dropdown-menu>
		<!-- Country Filter -->

	</div>
</div>

<div *ngIf="drawerVisible">

	<nz-drawer [nzBodyStyle]="{ height: 'calc(100% - 55px)', overflow: 'auto', 'padding-bottom': '53px' }"
		[nzClosable]="true" [nzMask]="true" [nzMaskClosable]="false" [nzWidth]="400" [nzVisible]="drawerVisible"
		[nzTitle]="drawerTitle" (nzOnClose)="drawerClose()" (nzKeyboard)="true">
		<ng-container *nzDrawerContent>
			<app-addproducture [drawerClose]="closeCallback" [drawerVisible]="drawerVisible"
				[data]="drawerData"></app-addproducture>
		</ng-container>
	</nz-drawer>
</div>

<nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="visiblesave" [nzOkText]="'Save'" (nzOnCancel)="handleCancelTop()"
	(nzOnOk)="handleOkTop()" nzTitle="Generate Query">
	<ng-container *nzModalContent>
		<div nz-row>
			<div nz-col nzSpan="24">
				<nz-form-item style=" display: inline-block;
                margin-bottom: 5px;
                width: -webkit-fill-available;
                padding: 0px 10px;">
					<nz-form-label nzRequired nzNoColon>
						Query Name
					</nz-form-label>
					<nz-form-control nzHasFeedback nzErrorTip="Please Enter Query Name ">
						<input [(ngModel)]="QUERY_NAME" nz-input name="Name" placeholder="Enter Query Name"
							maxlength="256" required autocomplete="off">
					</nz-form-control>
				</nz-form-item>
			</div>
		</div>
	</ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="isModalVisible" [nzTitle]="'Query Details'" [nzFooter]="null" (nzOnCancel)="handleCancel()">
	<ng-container *nzModalContent>
		<h6 style="text-align: center;">{{ selectedQuery }}</h6>
	</ng-container>
</nz-modal>