
<div style="margin-top: 10px">
  <form nz-form #Languagemaster="ngForm" >

    <div nz-row>
      <div nz-col nzXs="24" nzSm="24" nzMd="24" nzLg="24" nzXl="24">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Language </nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Language">
            <input
              nz-input
              name="name"
              placeholder="Enter Language"
              required
              [(ngModel)]="data.name"
              #nameField="ngModel"
              (keypress)="commonFunction.alphaOnly($event)"
              maxlength="256"
            />
            <!-- <h6
            style="color: red; font-size: 10px"
            *ngIf="
              data.name != undefined &&
              data.name != null &&
              data.name != ''
            "
          >
            {{ data.name.length }}/256
          </h6> -->
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>

    <!-- <div nz-row> -->
      <!-- <div nz-col nzXs="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Short Code</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Enter Short Code">
            <input
              nz-input
              name="shortcode"
              placeholder="Enter Short Code"
              required
              [(ngModel)]="data.SHORT_CODE"
              #nameField="ngModel"
              (keypress)="commonFunction.alphaOnly($event)"
              maxlength="8"
            />
            <h6
            style="color: red; font-size: 10px"
            *ngIf="
              data.SHORT_CODE != undefined &&
              data.SHORT_CODE != null &&
              data.SHORT_CODE != ''
            "
          >
            {{ data.SHORT_CODE.length }}/8
          </h6>
          </nz-form-control>
        </nz-form-item>
      </div> -->
      
    <!-- </div> -->


    <div nz-row>

      <div nz-col nzXs="12">
        <nz-form-item>
          <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
          <nz-form-control nzHasFeedback nzErrorTip="Plese Enter Sequence No">
            <input
              nz-input
              name="SeqNo"
              placeholder="Enter Sequence No"
              required
              [(ngModel)]="data.seq_no"
              #nameField="ngModel"
              (keypress)="commonFunction.onlynum($event)"
              maxlength="8"
              disabled
            />
          </nz-form-control>
        </nz-form-item>
      </div>
    <div nz-col nzSpan="8">
      <nz-form-item>
        <nz-form-label nzNoColon>Status</nz-form-label>
        <nz-form-control>
          <nz-switch
            name="status"
            nzCheckedChildren="Active"
            nzUnCheckedChildren="Inactive"
            [(ngModel)]="data.is_active"
          ></nz-switch>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  </form>
</div>

<div class="footer">
  <button
    nz-button
    nzType="default"
    (click)="close()"
    class="ant-btn"
    style="margin-right: 12px"
  >
    Cancel
  </button>

  <button
    nz-button
    *ngIf="!data.id"
    nzType="primary"
    nz-dropdown
    [nzDropdownMenu]="menu"
    [nzLoading]="isSpinning"
    (click)="save(false, Languagemaster)"
    class="ant-btn ant-btn-primary"
  >
    Save & Close
  </button>

  <nz-dropdown-menu #menu="nzDropdownMenu">
    <ul nz-menu>
      <li
        nz-menu-item
        class="menuc"
        style="border-radius: 4px; background-color: #40a9ff"
      >
        <a
          class="footer-button"
          style="color: white"
          (click)="save(true, Languagemaster)"
          >Save & New</a
        >
      </li>
    </ul>
  </nz-dropdown-menu>

  <button
    type="button"
    class="ant-btn ant-btn-primary"
    nz-button
    [nzLoading]="isSpinning"
    *ngIf="data.id"
    (click)="save(false, Languagemaster)"
  >
    <span>Update & Close</span>
  </button>
</div>



