<div>
	<form #CityMasterPage="ngForm" nz-form>
		<nz-spin [nzSpinning]="isSpinning">


			<!-- Name Field -->
			<div nz-row>
				<div nz-col nzSpan="24">
					<nz-form-item>
						<nz-form-label nzRequired nzNoColon>
							Name
						</nz-form-label>
						<nz-form-control nzHasFeedback nzErrorTip="Please Enter Name">
							<input [(ngModel)]="data.name" nz-input name="name" placeholder="Enter Name" maxlength="256"
								required autocomplete="off">
						</nz-form-control>
						<h6 *ngIf="data.name" style="color: red; font-size: 10px">
							{{ data.name.length }}/256
						</h6>
					</nz-form-item>
				</div>
			</div>

			<!-- Sequence Number and Status Fields -->
			<div nz-row>
				<div nz-col nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired nzNoColon>
							Type
						</nz-form-label>
						<nz-form-control nzHasFeedback nzErrorTip="Please Select Type">
							<nz-select [(ngModel)]="data.type" name="type" nzPlaceHolder="Select Type" required>
								<nz-option nzValue="L" nzLabel="Lab"></nz-option>
								<nz-option nzValue="H" nzLabel="Hospital"></nz-option>
							</nz-select>
						</nz-form-control>
					</nz-form-item>
				</div>
				<div nz-col nzSpan="12">
					<nz-form-item>
						<nz-form-label nzRequired nzNoColon>
							Sequence No.
						</nz-form-label>
						<nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence Number">
							<nz-input-number [(ngModel)]="data.seq_no" [nzMin]="1" [nzStep]="1" style="width: 100%;"
								name="seq_no" nzPlaceHolder="Enter Sequence No" disabled required></nz-input-number>
						</nz-form-control>
					</nz-form-item>
				</div>
				<div nz-col nzSpan="12">
					<nz-form-item>
						<nz-form-label nzNoColon>Status</nz-form-label>
						<nz-form-control>
							<nz-switch [(ngModel)]="data.is_active" name="is_active" nzCheckedChildren="Active"
								nzUnCheckedChildren="Inactive"></nz-switch>
						</nz-form-control>
					</nz-form-item>
				</div>
			</div>

		</nz-spin>
	</form>

	<div class="footer">
		<button (click)="close()" type="button" nz-button class="ant-btn" style="margin-right: 8px;">
			<span>Cancel</span>
		</button>
		<button *ngIf="!data.id" [nzDropdownMenu]="menu" [nzLoading]="isSpinning" (click)="save(false,CityMasterPage)"
			type="button" class="ant-btn ant-btn-primary" nz-button nz-dropdown>
			<span>Save & Close</span>
		</button>
		<nz-dropdown-menu #menu="nzDropdownMenu">
			<ul nz-menu>
				<li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
					<a (click)="save(true,CityMasterPage)" style="color:white">
						Save & New
					</a>
				</li>
			</ul>
		</nz-dropdown-menu>
		<button *ngIf="data.id" [nzLoading]="isSpinning" (click)="save(false,CityMasterPage)" type="button"
			class="ant-btn ant-btn-primary" nz-button>
			<span>Update & Close</span>
		</button>
	</div>
</div>