<div>
  <form nz-form #form1>
    <nz-spin [nzSpinning]="isSpinning">
      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Role </nz-form-label>
            <nz-input-group>
              <nz-select name="role" nzShowSearch style="width: 100%" [(ngModel)]="data.role_id" >
                <nz-option *ngFor="let role of roles" [nzValue]="role.id" [nzLabel]="role.name"></nz-option>
              </nz-select>
            </nz-input-group>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Name </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Input is required">
              <input nz-input name="name" [(ngModel)]="data.name" required />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Email ID </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Email is not valid">
              <input nz-input name="email" autocomplete="off"
                pattern="^[_a-zA-Z0-9]+(\.[_a-zA-Z0-9]+)*@[a-zA-Z0-9-]+(\.[a-zA-Z0-9-]+)*(\.[a-zA-Z]{2,4})$"
                [(ngModel)]="data.email_id" email />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Mobile No </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Mobile No is not valid">
              <input nz-input name="mobile" maxlength="10" pattern="[0-9]{10}" [(ngModel)]="data.mobile_number"
                required />
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">

          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Password</nz-form-label>

            <nz-form-control style="text-align: left" nzRequired nzErrorTip="Please Enter Valid Password">
              <nz-input-group [nzSuffix]="suffixTemplate">
                <input nz-input [type]="passwordVisible ? 'text' : 'password'" name="password"
                  [(ngModel)]="data.password" placeholder="Password" required />
              </nz-input-group>

              <ng-template #suffixTemplate>
                <i nz-icon [nzType]="passwordVisible ? 'eye' : 'eye-invisible'"
                  (click)="passwordVisible = !passwordVisible"></i>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzNoColon>Is Active?</nz-form-label>
            <nz-form-control>
              <nz-switch name="is_active" nzCheckedChildren="Yes" nzUnCheckedChildren="No"
                [ngModel]="data.is_active == 1" (ngModelChange)="data.is_active = $event ? 1 : 0"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-spin>
  </form>

  <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn" style="margin-right: 8px">
      <span>Cancel</span>
    </button>

    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.id" nz-button nz-dropdown [nzDropdownMenu]="menu"
      (click)="save(false)">
      <span>Save & Close</span>
    </button>

    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc" style="border-radius: 4px; background-color: #40a9ff">
          <a style="color: white" (click)="save(true)">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>

    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.id"
      (click)="save(false)">
      <span>Update & close</span>
    </button>
  </div>
</div>