<div>
  <form nz-form #councilMasterPage="ngForm">
    <nz-spin [nzSpinning]="isSpinning">

      <div nz-row>

        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>State</nz-form-label>
            <nz-form-control nzErrorTip="Please Select State">
              <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select State" name="statename"
                [(ngModel)]="data.state_id" required [nzLoading]="loadstates">
                <nz-option *ngFor="let role of stateData" [nzValue]="role.id" [nzLabel]="role.name">
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </div>
        <!-- NAME Input -->
        <div nz-col nzSpan="24">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Name</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter Name">
              <input nz-input name="NAME" [(ngModel)]="data.name" placeholder="Enter Name" maxlength="128" required
                autocomplete="off" />
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- SEQ_NO Input -->
        <div nz-col nzSpan="12">
          <nz-form-item>
            <nz-form-label nzRequired nzNoColon>Sequence No.</nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="Please Enter Sequence No.">
              <input nz-input placeholder="Sequence No." name="SEQ_NO" [(ngModel)]="data.seq_no"
                (keypress)="commonFunction.onlynum($event)" maxlength="8" autocomplete="off" disabled />
            </nz-form-control>
          </nz-form-item>
        </div>

        <!-- IS_ACTIVE Switch -->
        <div nz-col nzSpan="6">
          <nz-form-item>
            <nz-form-label nzNoColon>Status</nz-form-label>
            <nz-form-control>
              <nz-switch name="is_active" nzCheckedChildren="Active" nzUnCheckedChildren="Inactive"
                [(ngModel)]="data.is_active"></nz-switch>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>




    </nz-spin>
  </form>

  <div class="footer">
    <button type="button" nz-button (click)="close()" class="ant-btn"
      style="margin-right: 8px;"><span>Cancel</span></button>
    <button type="button" class="ant-btn ant-btn-primary" *ngIf="!data.id" nz-button nz-dropdown [nzDropdownMenu]="menu"
      [nzLoading]="isSpinning" (click)="save(false,councilMasterPage)"><span>Save &
        Close</span></button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item class="menuc" style="border-radius: 4px;background-color: #40a9ff;">
          <a style="color:white" (click)="save(true,councilMasterPage)">Save & New</a>
        </li>
      </ul>
    </nz-dropdown-menu>
    <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning" *ngIf="data.id"
      (click)="save(false,councilMasterPage)"><span>Update & Close</span></button>
  </div>
</div>