<div>

    <div nz-row>
        <div nz-col nzSpan="18"></div>

        <div nz-col nzSpan="6">
            <nz-form-item>
                <nz-input-group [nzPrefix]="prefixIconSearch" class="custom-search-input">
                    <input type="text" autocomplete="off" name="search" (ngModelChange)="search($event)" nz-input
                        placeholder="Search..." [(ngModel)]="searchText" />
                </nz-input-group>
    <ng-template #prefixIconSearch>
      <span nz-icon nzType="search" class="search-icon"></span>
    </ng-template>
            </nz-form-item>
        </div>
    </div>

    <div nz-row>


        <div nz-row>
            <div nz-col nzSpan="8">
                <nz-form-item>
                    <nz-form-label nzRequired nzNoColon>District</nz-form-label>
                    <nz-form-control nzHasFeedback nzErrorTip="Select District">
                        <nz-select nzAllowClear="true" nzPlaceHolder="Select District" name="DISTRICT_ID"
                            [(ngModel)]="data.DISTRICT_ID" nzShowSearch required>
                            <!-- <nz-option *ngFor="let district of districtData" [nzValue]="district.ID"
                                [nzLabel]="district.NAME"></nz-option> -->
                                <nz-option *ngFor="let district of districtData"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>


            <div nz-col nzSpan="24">
                <nz-table class="my-scroll no-wrap1" nzBordered #promote [nzData]="dataList1"
                    [nzLoading]="tecnicalSpecificationisSpinning" [nzSize]="'small'"
                    [nzScroll]="{ x: '800px', y: '55vh' }" nzShowSizeChanger [nzFrontPagination]="true">
                    <thead>
                        <tr>
                            <th nzLeft nzWidth="35px" style="font-weight: bold; text-align: center"
                                [(nzChecked)]="checked" (nzCheckedChange)="onAllChecked($event)"> &nbsp;
                                Select All
                            </th>

                         
                            <th nzWidth="80px" [nzSortFn]="true">Area Name</th>
                            <th nzWidth="80px" [nzSortFn]="true">Pin Code</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let data of promote.data">
                            <td nzLeft style="text-align: center;">
                                <label nz-checkbox (nzCheckedChange)="onItemChecked(data, $event)"></label>
                            </td>

                            <td style="white-space: pre-line; text-align: left">
                                <span>{{data.AREA_NAME}}</span>
                            </td>

                            <td style="white-space: pre-line; text-align: left">
                                <span>{{data.PIN_CODE}}</span>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>






    </div>


    <div class="footer">
        <button type="button" nz-button (click)="mapTechnicalDrawerClose()" class="ant-btn"
            style="margin-right: 8px;"><span>Cancel</span></button>
        <button type="button" class="ant-btn ant-btn-primary" nz-button [nzLoading]="isSpinning"
            (click)="mapTechnicalDrawerSave()"><span>Save &
                Close</span></button>
    </div>